@{ 
    Layout = null;
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="title" content="Текстиль Рівне | Білизна та тканина"/>
    <meta name="keywords" content="Текстиль Рівне, текстиль рівне, купити тканинку, купить ткань, текстиль ровно, купить постель ровно, постель ровно, постіль рівне, модна хатка, для бані, для сауни, сауна рівне, баня рівне, купити халад, купить халат, халаты, подушки, пледы"/>
    <meta name="metatitle" content="Текстиль Рівне | Білизна та тканина"/>
    <meta name="description" content="Магазин текстилю та тканини з найкращими цінами!"/>
    <meta name="google-site-verification" content="ptgoflpyqdu_cx_LasefLu_EtwJtAiK1rgGsKn0vTwo" />
    <title>Текстиль Рівне | Білизна та тканина</title>
    <link href="~/Content/StyleMainWondow.css" rel="stylesheet" />
    <link rel="icon" href="~/Content/ImgBasket/TekstilIcon.png" type="image/x-icon" />
    <link rel="shortcut icon" href="~/Content/ImgBasket/TekstilIcon.png" type="image/x-icon" />
</head>
<body>
    <header>
        <div id="vanilla-slideshow-container">
            <div id="vanilla-slideshow">
                
            </div>
            <div id="nav-bar">
                <div class="nav-item"><a href="#tkani"><img src="~/Content/img/mainpage/1carusel_1/Menu/1.png" alt=""></a></div>
                <div class="nav-item"><a href="#bedroom"><img src="~/Content/img/mainpage/1carusel_1/Menu/2.ico" alt=""></a></div>
                <div class="nav-item"><a href="#bathroom"><img src="~/Content/img/mainpage/1carusel_1/Menu/3.ico" alt=""></a></div>
                <div class="nav-item"><a href="#hotel"><img src="~/Content/img/mainpage/1carusel_1/Menu/5.ico" alt=""></a></div>
                <div class="nav-item"><a href="#kitchen"><img src="~/Content/img/mainpage/1carusel_1/Menu/4.ico" alt=""></a></div>
                <div class="nav-item"><a href="#childroom"><img src="~/Content/img/mainpage/1carusel_1/Menu/6.ico" alt=""></a></div>
            </div>
            <div class="icon">
                <img src="~/Content/ImgBasket/TextilRivne.png" alt="">
            </div>

            <div id="vanilla-indicators"></div>
            <div id="vanilla-slideshow-previous">
                <img src="~/Content/img/mainpage/1carusel_1/arrow-previous.png" alt="slider arrow">
            </div>
            <div id="vanilla-slideshow-next">
                <img src="~/Content/img/mainpage/1carusel_1/arrow-next.png" alt="slider arrow">
            </div>
        </div>

    </header>
    <article>
        <div class="rows" id="rows">
            @*<div class="column">
                <img class="two" src="~/Content/img/mainpage/1carusel_1/4.jpg" alt="50/50">
                <p class="text_main">Італійські рушники SoftTouch</p>
                <p>For our guests that seek a sophisticated replacement to down, we handpicked this down alternative pillow for its plush loft and progressive craftsmanship.</p>
                
                    <a class="button">Більше &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <img class="arrow" src="~/Content/img/mainpage/2newandpopular/arrow-right.png" alt="arrow"></a>
                
            </div>
            <div class="column">
                <img class="two" src="~/Content/img/mainpage/1carusel_1/5.jpg" alt="50/50">
                <p class="text_main">Сучасні подушки ModernLook</p>
                <p>For our guests that seek a sophisticated replacement to down, we handpicked this down alternative pillow for its plush loft and progressive craftsmanship. </p>
               
                
                
                    <a class="button" href="http://localhost:51465/Home/ProdInfo?productId=101">Більше &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <img class="arrow" src="~/Content/img/mainpage/2newandpopular/arrow-right.png" alt="arrow"></a>
               


            </div>*@
        </div>
    </article>
    <article>
        <div class="heading"><h1><a name="tkani">Тканини</a></h1></div>
        <div class="row">
            <div class="column_two">
                <img class="two_1" src="~/Content/img/mainpage/2newandpopular/3.jpg" alt="50/50">
                <a href="@Url.Action("Products",new { productId=1})">Білоруський Льон</a>
            </div>
            <div class="column_two">
                <img class="two_1" src="~/Content/img/mainpage/5badroom/6.jpg" alt="50/50">
                <a href="@Url.Action("Products",new { productId=2})">Блакит</a>
            </div>
            
        </div>
        <div class="heading"><h1><a name="bedroom">Спальня та гостинна</a></h1></div>
        <div class="row">
            <div class="column_four">
                <img class="four" src="~/Content/img/mainpage/5badroom/1.jpg" alt="25/100">
                <a href="@Url.Action("Products",new { productId=3})">Постіль</a>
            </div>
            <div class="column_four">
                <img class="four" src="~/Content/img/mainpage/5badroom/2.jpg" alt="50/100">
                <a href="@Url.Action("Products",new { productId=4})">Ковдри</a>
            </div>
            <div class="column_four">
                <img class="four" src="~/Content/img/mainpage/5badroom/3.jpg" alt="75/100">
                <a href="@Url.Action("Products",new { productId=5})">Подушки</a>
            </div>
            <div class="column_four">
                <img class="four" src="~/Content/img/mainpage/5badroom/4.jpg" alt="100/100">
                <a href="@Url.Action("Products",new { productId=6})">Пледи</a>
            </div>
        </div>
        <div class="row">
            <div class="column_two">
                <img class="two_1" src="~/Content/img/mainpage/5badroom/5.jpg" alt="50/50">
                <a href="@Url.Action("Products",new { productId=7})">Покривала</a>
            </div>
            <div class="column_two">
                <img class="two_1" src="~/Content/img/mainpage/5badroom/6.jpg" alt="50/50">
                <a href="@Url.Action("Products",new { productId=8})">Наволочки</a>
            </div>
        </div>
        <div class="row">
            <div class="column_four">
                <img class="four" src="~/Content/img/mainpage/5badroom/7.jpg" alt="25/100">
                <a href="@Url.Action("Products",new { productId=9})">Простині</a>
            </div>
            <div class="column_four">
                <img class="four" src="~/Content/img/mainpage/5badroom/8.jpg" alt="50/100">
                <a href="@Url.Action("Products",new { productId=10})">Підодіяльники</a>
            </div>
            <div class="column_four">
                <img class="four" src="~/Content/img/mainpage/5badroom/9.jpg" alt="75/100">
                <a href="@Url.Action("Products",new { productId=11})">Наматрасники</a>
            </div>
            <div class="column_four">
                <img class="four" src="~/Content/img/mainpage/5badroom/10.jpg" alt="100/100">
                <a href="@Url.Action("Products",new { productId=12})">Декоративні подушки</a>
            </div>
        </div>
        <div class="heading"><h1><a name="bathroom">Ванна кімната</a></h1></div>
        <div class="row">
            <div class="column_four">
                <img class="four" src="~/Content/img/mainpage/6bathroom/1.jpg" alt="25/100">
                <a href="@Url.Action("Products",new { productId=13})">Рушники</a>
            </div>
            <div class="column_four">
                <img class="four" src="~/Content/img/mainpage/6bathroom/2.jpg" alt="50/100">
                <a href="@Url.Action("Products",new { productId=14})">Килими</a>
            </div>
            <div class="column_four">
                <img class="four" src="~/Content/img/mainpage/6bathroom/3.jpg" alt="75/100">
                <a href="@Url.Action("Products",new { productId=15})">Аксесуари</a>
            </div>
            <div class="column_fours">
                <img class="four" src="~/Content/img/mainpage/6bathroom/4.jpg" alt="100/100">
                <a href="@Url.Action("Products",new { productId=16})">Аксесуари для бані та сауни</a>
            </div>
        </div>
        <div class="heading"><h1><a name="hotel">Готель</a></h1></div>
        <div class="row">
            <div class="column_four">
                <img class="four" src="~/Content/img/mainpage/7hotel/1.jpg" alt="25/100">
                <a href="@Url.Action("Products",new { productId=17})">Постіль</a>
            </div>
            <div class="column_four">
                <img class="four" src="~/Content/img/mainpage/7hotel/2.jpg" alt="50/100">
                <a href="@Url.Action("Products",new { productId=18})">Ковдри</a>
            </div>
            <div class="column_four">
                <img class="four" src="~/Content/img/mainpage/7hotel/3.jpg" alt="75/100">
                <a href="@Url.Action("Products",new { productId=19})">Подушки</a>
            </div>
            <div class="column_four">
                <img class="four" src="~/Content/img/mainpage/7hotel/4.jpg" alt="100/100">
                <a href="@Url.Action("Products",new { productId=20})">Пледи</a>
            </div>
        </div>
        <div class="row">
            <div class="column_two">
                <img class="two_1" src="~/Content/img/mainpage/7hotel/5.jpg" alt="50/50">
                <a href="@Url.Action("Products",new { productId=21})">Покривала</a>
            </div>
            <div class="column_two">
                <img class="two_1" src="~/Content/img/mainpage/7hotel/6.jpg" alt="50/50">
                <a href="@Url.Action("Products",new { productId=22})">Наволочки</a>
            </div>
        </div>
        <div class="row">
            <div class="column_four">
                <img class="four" src="~/Content/img/mainpage/7hotel/7.jpg" alt="25/100">
                <a href="@Url.Action("Products",new { productId=23})">Простині</a>
            </div>
            <div class="column_four">
                <img class="four" src="~/Content/img/mainpage/7hotel/8.jpg" alt="50/100">
                <a href="@Url.Action("Products",new { productId=24})">Підодіяльники</a>
            </div>
            <div class="column_four">
                <img class="four" src="~/Content/img/mainpage/7hotel/9.jpg" alt="75/100">
                <a href="@Url.Action("Products",new { productId=25})">Наматрасники</a>
            </div>
            <div class="column_four">
                <img class="four" src="~/Content/img/mainpage/7hotel/10.jpg" alt="100/100">
                <a href="@Url.Action("Products",new { productId=26})">Рушники</a>
            </div>
        </div>
        <div class="row">
            <div class="column_three">
                <img class="three" src="~/Content/img/mainpage/7hotel/11.jpg" alt="25/100">
                <a href="@Url.Action("Products",new { productId=27})">Халати</a>
            </div>
            <div class="column_three">
                <img class="three" src="~/Content/img/mainpage/7hotel/12.jpg" alt="50/100">
                <a href="@Url.Action("Products",new { productId=28})">Капці</a>
            </div>
            <div class="column_three">
                <img class="three" src="~/Content/img/mainpage/7hotel/13.jpg" alt="75/100">
                <a href="@Url.Action("Products",new { productId=29})">Килимки</a>
            </div>
        </div>
        <div class="heading"><h1><a name="kitchen">Кухня</a></h1></div>
        <div class="row">
            <div class="column_four">
                <img class="four" src="~/Content/img/mainpage/8kitchen/1.jpg" alt="25/100">
                <a href="@Url.Action("Products",new { productId=30})">Рушники</a>
            </div>
            <div class="column_four">
                <img class="four" src="~/Content/img/mainpage/8kitchen/2.jpg" alt="50/100">
                <a href="@Url.Action("Products",new { productId=31})">Фартухи</a>
            </div>
            <div class="column_four">
                <img class="four" src="~/Content/img/mainpage/8kitchen/3.jpg" alt="75/100">
                <a href="@Url.Action("Products",new { productId=32})">Скатертини</a>
            </div>
            <div class="column_fours">
                <img class="four" src="~/Content/img/mainpage/8kitchen/4.jpg" alt="100/100">
                <a href="@Url.Action("Products",new { productId=33})">Тканинні серветки і раннери</a>
            </div>
        </div>
        <div class="heading"><h1><a name="childroom">Дитяча спальня</a></h1></div>
        <div class="row">
            <div class="column_four">
                <img class="four" src="~/Content/img/mainpage/9forchild/1.jpg" alt="25/100">
                <a href="@Url.Action("Products",new { productId=34})">Постіль</a>
            </div>
            <div class="column_four">
                <img class="four" src="~/Content/img/mainpage/9forchild/2.jpg" alt="50/100">
                <a href="@Url.Action("Products",new { productId=35})">Ковдри</a>
            </div>
            <div class="column_four">
                <img class="four" src="~/Content/img/mainpage/9forchild/3.jpg" alt="75/100">
                <a href="@Url.Action("Products",new { productId=36})">Подушки</a>
            </div>
            <div class="column_four">
                <img class="four" src="~/Content/img/mainpage/9forchild/4.jpg" alt="100/100">
                <a href="@Url.Action("Products",new { productId=37})">Пледи</a>
            </div>
        </div>
        <div class="row">
            <div class="column_two">
                <img class="two_1" src="~/Content/img/mainpage/9forchild/5.jpg" alt="50/50">
                <a href="@Url.Action("Products",new { productId=38})">Покривала</a>
            </div>
            <div class="column_two">
                <img class="two_1" src="~/Content/img/mainpage/9forchild/6.jpg" alt="50/50">
                <a href="@Url.Action("Products",new { productId=39})">Наволочки</a>
            </div>
        </div>
        <div class="row">
            <div class="column_three">
                <img class="three" src="~/Content/img/mainpage/9forchild/7.jpg" alt="25/100">
                <a href="@Url.Action("Products",new { productId=40})">Простині</a>
            </div>
            <div class="column_three">
                <img class="three" src="~/Content/img/mainpage/9forchild/8.jpg" alt="50/100">
                <a href="@Url.Action("Products",new { productId=41})">Підодіяльники</a>
            </div>
            <div class="column_three">
                <img class="three" src="~/Content/img/mainpage/9forchild/9.jpg" alt="75/100">
                <a href="@Url.Action("Products",new { productId=42})">Наматрасники</a>
            </div>
        </div>
    </article>
    <footer>
        <label class="footer_main">Підписуйтесь на новини </label>
        <hr for="mailInfo">
        <div>
            <a href="#"><label>Головна</label></a><br />
            <a href="#"><label>Новини</label></a><br />
            <a href="#"><label>Контактна форма</label></a>
        </div>
        <div>
            <label class="footer_mains">Cлідкуй за нами</label><br />
            <a class="footer_mains" href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
            <a class="footer_mains" href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
            <a class="footer_mains" href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
        </div>
    </footer>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/MainScript.js"></script>
    <script src="~/Scripts/454d8be7f7.js"></script>
    <script src="~/Scripts/vanillaSlideshow.min.js"></script>
</body>
</html>